<form action="/cool_url" method="post">
  <h1> APPLICATION FROM</h1>
 Name<input type="text" name="user_input">
 <br><br>

  Age<input type="text" name="age">
  <br><br>
  <input type="submit" value="SUBMIT">
</form>

<!--
<body>
<form name="myform" action="/cool_url" method="post">
<div align="center">
This is outside the area<br><br>
<textarea cols="60" rows="5" name="myname">
Now we are inside the area - which is nice.
</textarea>
<br><br>
And now we are outside the area again.
</div>
</form>
</body>
</html>

<input type="submit" value="you want to say.."> -->