<h1>Hi Welcome</h1>

<p>Welcome to Cool form</p>

<a href="/cool_url">Let's Start</a>


<!-- <form action="/cool_url" method="post">
  <input type="text" name="user_input">
  <input type="submit" value="Say It!">
</form> -->